---
import Button from '@components/ui/Button.astro';
import { siteConfig } from '@data/config';
import { Facebook, Instagram } from 'lucide-astro';

interface ButtonProps {
  text: string;
  link: string;
  target?: string;
}

interface Props {
  footerCta?: {
    title: string;
    description: string;
    hideCta: boolean;
    button: ButtonProps;
  };
}

const { footerCta } = Astro.props;

const defaultCta = {
  title: "Ready to get started?",
  description: "Join us today and transform your landscape presence with our innovative solutions.",
  hideCta: false,
  button: {
    text: "Contact Us",
    link: "/contact",
    target: "_self"
  }
};

const cta = footerCta || defaultCta;
const currentYear = new Date().getFullYear();
---

<footer class={`bg-black text-white pb-small ${cta.hideCta ? 'pt-large' : ''}`}>
  <div class="site-container mx-auto px-4">
    {!cta.hideCta && (
      <div class="text-center border-b border-background-light mb-12 py-small">
        <h2 class="text-3xl font-bold mb-4" data-aos="fade-up">{cta.title}</h2>
        <p class="text-white mb-6 max-w-2xl mx-auto" data-aos="fade-up" data-aos-delay="100">
          {cta.description}
        </p>
        <Button 
          href={cta.button.link} 
          variant="ghostLight"
          size="lg"
          data-aos="fade-up"
          data-aos-delay="200"
          {...(cta.button.target && { target: cta.button.target })}
        >
          {cta.button.text}
        </Button>
      </div>
    )}

    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 pb-8 border-b border-background-light">
      <div class="col-span-1">
        <p class="mt-4 text-white">
          Empowering your landscape journey with innovative solutions.
        </p>
      </div>
      
      <div class="col-span-1">
        <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
          <nav class="mt-4 md:mt-0 flex flex-row gap-2">
            <div class:list={[
              "w-12 h-12 flex items-center justify-center rounded-lg mb-4",
          ]}>
              <a
                        href={`https://www.facebook.com/share/16QtiUZpKf/?mibextid=wwXIfr`}
                        class="flex items-center gap-2 text-body-base hover:text-primary transition-colors text-small w-12"
                    >
                    <Facebook size={28} class="text-white" />
                  </a>
              </div>
              <div class:list={[
                "w-12 h-12 flex items-center justify-center rounded-lg mb-4",
            ]}>
              <a
                        href={`https://www.instagram.com/ecr.landscape?igsh=c3F2ZWJsMGE1MXBl`}
                        class="flex items-center gap-2 text-body-base hover:text-primary transition-colors text-small w-12"
                    >
                    <Instagram size={28} class="text-white" />
              </a> 
              </div>       
          </nav>
      </div>
    </div>

    <div class="mt-8 flex flex-col md:flex-row justify-between items-center">
      <div class="text-body-dark text-sm">
        © {currentYear} {siteConfig.companyName}. All rights reserved.
      </div>
    </div>
  </div>
</footer>